{% extends 'base.html.twig' %}

{% block title %}{{ 'title.city'|toWording }}{% endblock %}
{% block bodyType %} class='subpage' {% endblock %}
{% block body %}
    <section class="breadcrumbs">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('homepage') }}"> Strona główna </a>
                    <a href="#"> {{ page.title }} </a>
                </div>
            </div>

        </div>
    </section>

    <section class='smaller-padding'>
        <div class="wrapper">
            <div class="row middle-md between-md">
                <div class="col-md-6 col-sm-12">
                    <div class="content left">
                        <h1 class="red"> {{ page.titleHeader }}</h1>
                        <p class="big-paragraph">
                            {{ page.subtitleHeader }}
                        </p>
                        {{ page.description }}
                    </div>
                </div>

                <div class="col-md-5 col-sm-12">
                    <div class="image-border">
                        <img src="http://realestate.wiseweb.pl/{{ page.photo }}" alt="zdjęcie">
                    </div>
                </div>

                <div class="col-xs-12">
                    <ul class="social-media">
                        <li>
                            <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ app.request.uri }}/&p[images][1]={{ app.request.uri }}/}&p[title]={{ page.title }}&p[summary]=zajawka”"
                               target="_blank"> <img src="{{ asset('images/fb-icon.jpg') }}" alt="facebook"> </a></li>
                        <li><a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}" target="_blank"> <img
                                        src="{{ asset('images/tw-icon.jpg') }}" alt="twitter"> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="comparision smaller-padding">
        <div class="wrapper">
            <h3> {{ 'page.chart_title'|toWording }} </h3>
            <form action="">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <label for="flat-type"> {{ 'page.input-type'|toWording }} </label>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                        <div class="input-wrapper">
                            <select name="flat-type" id="select-flat-type">
                                {% for type in type_list %}
                                    <option value="{{ type.id }}">{{ type.title }}</option>
                                {% endfor %}
                            </select>
                            <span class="info">?</span>

                            <div class="tooltip">
                                <div class="content"> {{ 'page.input-type-tooltip'|toWording }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="cities">
                {{ render(controller(
                    'App\\Controller\\PageController::recentChart',
                    { 'active': page.slug  }
                )) }}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/canvasChart.js') }}"></script>{% endblock %}