{% extends 'base.html.twig' %}

{% block bodyType %} class='subpage' {% endblock %}
{% block body %}
    <section class="breadcrumbs">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('default') }}"> Strona główna </a>
                    <a href="#"> {{ city|cityInfo }} </a>
                </div>
            </div>
            
        </div>
    </section>

    <section class='smaller-padding'>
        <div class="wrapper">
            <div class="row middle-md between-md">
                <div class="col-md-6 col-sm-12">
                    <div class="content left">
                        <h1 class="red"> {{ city|cityInfo("header_title") }}</h1>
                        <p class="big-paragraph">
                            {{ city|cityInfo("header_subtitle") }}
                        </p>
                        {{ city|cityInfo("description") }}
                    </div>
                </div>

                <div class="col-md-5 col-sm-12">
                    <div class="image-border">
                        <img src="{{ city|cityInfo("photo") }}" alt="zdjęcie">   
                    </div>
                </div>

                <div class="col-xs-12">
                    <ul class="social-media">
                        <li> <a href="{{ 'city.facebook'|toWording }}"> <img src="{{ asset('images/fb-icon.jpg') }}" alt="facebook"> </a> </li>
                        <li> <a href="{{ 'city.twitter'|toWording }}"> <img src="{{ asset('images/tw-icon.jpg') }}" alt="twitter"> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="comparision smaller-padding">
        <div class="wrapper">
            <h3> {{ 'city.chart_title'|toWording }} </h3>
            <form action="">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <label for="flat-type"> {{ 'city.input-type'|toWording }} </label>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                        <div class="input-wrapper">
                            <select name="flat-type">
                                <option value="typ1"> Typ 1</option>
                                <option value="typ2"> Typ 2</option>
                                <option value="typ3"> Typ 3</option>
                            </select>
                            <span class="info">?</span>

                            <div class="tooltip">
                                <div class="content"> {{ 'city.input-type-tooltip'|toWording }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="cities">
                <table>
                    <thead>
                        <th></th>
                        <th> {{ 'city.chart_cheapest'|toWording }} </th>
                        <th class='av'> {{ 'city.chart_avg'|toWording }} </th>
                        <th class="red"> {{ 'city.chart_expansive'|toWording }} </th>
                    </thead>
                    <tbody>
                    {% for x in 1..9 %}
                        <tr{% if x|findCity == city|cityInfo %} class='active'{% endif %}>
                            <td>
                                {{ x|findCity }} 
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                 1,00 zł 
                            </td>
                            <td class="canvas-holder chart-cell">
                                <canvas height="603" id="can"> </canvas>
                                <div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div>
                            </td>
                            <td> 7,00 zł</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper"> {{ 'city.wrapper'|toWording }} </div>
    </section>
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/canvasChart.js') }}"></script>{% endblock %}