{% extends 'base.html.twig' %}

{% block bodyType %} class='subpage' {% endblock %}
{% block body %}
    <section class="breadcrumbs">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <a href="index.html"> Strona główna </a>
                    <a href="#"> Kontakt </a>
                </div>
            </div>
            
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12 cl-md-7 col-lg-6">
                    <h1 class="red"> {{ 'contact.header'|toWording }}</h1>
                    <p class='no-padding'> {{ 'contact.content'|toWording }} </p>
                </div>
                <div class="col-xs-12">

                    <form action="" class='contact'>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <input type="text" placeholder="{{ 'contact.input-content-name'|toWording }}">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <input type="tel" placeholder="{{ 'contact.input-content-phone'|toWording }}">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <input type="email" placeholder="{{ 'contact.input-content-mail'|toWording }}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <textarea name="message" id="" placeholder="{{ 'contact.input-content-message'|toWording }}" rows="1"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="end-xs">
                <div class="col-xs-12">
                    <a href="#" class="button yellow-bcg "> {{ 'contact.button-send'|toWording }} </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}