<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;subset=latin-ext" rel="stylesheet">
    <style type="text/css">
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body, html {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        header {
            padding: 20px;
        }

        header .left {
            width: 20%;
            display: inline-block;
            vertical-align: top;
        }

        header .right {
            width: 69%;
            display: inline-block;
            vertical-align: top;
        }

        header img {
            max-height: 200px;
            max-width: 100%;
        }

        h2 {
            color: #0a1416;
            text-transform: uppercase;
            border-bottom: 2px solid #ff2011;
            margin-bottom: 35px;
        }

        .container {
            padding: 30px;
            font-weight: 400;
        }

        table {
            margin-top: 30px;
            border-collapse: collapse;
            font-weight: 400;
        }

        table tr:last-child td:first-child {
            border-bottom-left-radius: 7px;
        }

        table tr:last-child td:last-child {
            border-bottom-right-radius: 7px;
        }

        table tr:first-child th:first-child {
            border-top-left-radius: 7px;
        }

        table tr:first-child th:last-child {
            border-top-right-radius: 7px;
        }

        thead tr th {
            background: #DBAE35;
            padding: 7px 15px;
            color: #fff;
            text-align: left;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 3px solid #b7912a;
        }

        tr:nth-child(odd) {
            background: #eee;
            border-radius: 5px;
        }

        td {
            padding: 7px 15px;
            font-size: 14px;
        }

        .red {
            color: #DB4335;
        }

        @media (max-width: 1250px) {
            .wrapper {
                padding: 0 30px;
            }
        }

        .wrapper {
            max-width: 1170px;
            margin: 0 auto;
        }

        /*wykresy*/
        .max-price {
            text-align: right;
            position: relative;
        }

        .small-price-bar {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #200c0a;
            max-width: 100%;
            margin: 40px 0;
            padding-top: 40px;
        }

        .small-price-bar .min-price {
            padding-right: 10px;
            position: relative;
        }

        .small-price-bar .min-price:before {
            content: "Najtańszy za m²/msc";
            display: block;
            position: absolute;
            left: 0;
            width: 70px;
            top: 0;
            -webkit-transform: translateY(calc(-25% + 48px));
            transform: translateY(calc(-25% + 48px));
            font-size: 9px;
            font-weight: 600;
            font-family: Montserrat;
        }

        .small-price-bar .max-price {
            padding-left: 10px;
            position: relative;
        }

        .small-price-bar .max-price:before {
            content: "Najdroższy za m²/msc";
            display: block;
            position: absolute;
            width: 70px;
            right: 0;
            top: 0;
            -webkit-transform: translateY(calc(-25% + 48px));
            transform: translateY(calc(-25% + 48px));
            font-size: 9px;
            font-weight: 600;
            font-family: Montserrat;
        }

        .small-price-bar .average-bar {
            background: #DB4335;
            width: 45%;
            height: 100%;
            border-radius: 4px;
            position: relative;
            z-index: 9;
            max-width: 100%;
        }

        .small-price-bar .average-bar:after {
            content: "";
            position: absolute;
            border-radius: 9px;
            background: #DB4335;
            width: 9px;
            height: 9px;
            border: 2px solid #fff;
            top: 50%;
            left: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .small-price-bar .your-bar {
            background: #DBAE35;
            width: 0%;
            top: 0;
            left: 0;
            border-radius: 4px;
            position: absolute;
            z-index: 1;
            height: 100%;
            transition: width .25s;
            max-width: 100%;
            will-change: width;
        }

        .small-price-bar .your-bar::after {
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 20px;
            background: #DBAE35;
            border: 2px solid #fff;
            left: 100%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            position: absolute;
            display: block;
        }

        .small-price-bar .average {
            font-weight: 600;
            color: #DB4335;
            font-size: 12px;
            position: absolute;
            left: 45%;
            top: 0;
            -webkit-transform: translate(-50%, 60%);
            transform: translate(-50%, 60%);
        }

        .small-price-bar .average:after {
            content: "Średnia";
            display: block;
            left: 50%;
            -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
            position: absolute;
        }

        .small-price-bar .your-result {
            font-weight: 600;
            color: #DBAE35;
            font-size: 12px;
            position: absolute;
            left: 60%;
            top: 0;
            -webkit-transform: translate(-50%, -130%);
            transform: translate(-50%, -130%);
            min-width: 60px;
        }

        .small-price-bar .your-result::before {
            content: "Twój wynik";
            display: block;
            left: 50%;
            -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
            top: 0;
            position: absolute;
            min-width: 90px;
            text-align: center;
        }

        .small-bar {
            height: 8px;
            border-radius: 4px;
            width: auto;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            position: relative;
            background: #f1f5ff;
        }

        @media (max-width: 768px) {
            .min-price, .max-price {
                width: 100%;
            }

            .max-price {
                margin-top: 45px;
            }

            .small-price-bar {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding-top: 60px;
            }

            .small-price-bar .min-price:before, .small-price-bar .max-price:before {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
            }

            .small-price-bar .min-price {
                top: -50px;
            }

            .small-price-bar .max-price {
                top: 10px;
            }

            .compared .bar {
                margin-top: 45px;
            }

            .small-bar {
                width: 100%;
            }
        }

        .comparison-results {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .comparison-results li {
            display: inline-block;
            width: 49.5%;
            margin: 0;
            padding: 0;
        }

        .date {
            text-align: center;
            font-size: 14px;
            line-height: 30px;
        }

        .btn.btn-info {
            background: #cc7a15;
            padding: 8px 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }

        .comparison-text {
            margin: 0;
            padding: 0;
        }

        .comparison-text p {
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
<header>
    <div class="container wrapper">
        <div class="left">
            <img src="{{ asset('images/logo-new.png') }}" alt="logo">
        </div>
        <div class="right">
            {{ 'layout.report.top_logo_description'|toWording|raw }}
        </div>
    </div>
</header>
<div class="container wrapper">
    <h2>Raport - porównanie czynszu</h2>
    <p class="date">
        Raport wygenerowano: {{ 'now'|date('d.m.Y') }}<br>
        {{ url('pdf.bill', {'uuid': flat.uuid}) }}
    </p>
    <p>
        {{ 'layout.report.top_description'|toWording|raw }}
    </p>
    <h2>Twoje wyniki porównania</h2>
    <ul class="comparison-results">
        <li>
            <strong>Nazwa wspólnoty</strong>: {{ lookupParameterValue(bills, 'nazwa_wspolnota').value }}
        </li>
        <li>
            <strong>Adres wspólnoty</strong>: {{ lookupParameterValue(bills, 'adres').value }}
        </li>
        <li>
            <strong>Miasto</strong>: {{ flat.city }}
        </li>
        <li>
            <strong>Kod pocztowy</strong>: {{ flat.postCode }}
        </li>
        <li>
            <strong>Koszt na miesiąc</strong>: {{ flat.cost|number_format(2, ',', '') }} zł
        </li>
        <li>
            <strong>Powierzchnia</strong>: {{ flat.surface }} m<sup>2</sup>
        </li>
        <li>
            {% set udzial = lookupParameterValue(bills, 'udzial') %}
            <strong>Udział % w budynku</strong>:
            {% if udzial %}
                {{ udzial.value|number_format(2, ',', '') }} %
            {% else %}
                brak danych
            {% endif %}
        </li>
        <li>
            <strong>Koszt miesięczny za m<sup>2</sup></strong>: {{ (flat.cost/flat.surface)|number_format(2, ',', '') }} zł
        </li>
        <li>
            <strong>Ilość Miejsc Postojowych</strong>: {{ lookupParameterValue(bills, 'miejsce_postojowe_ilosc').value }}
        </li>
        <li></li>
    </ul>
    <br>
    {% set yourResult = (flat.cost/flat.surface) %}
    {% set average = (cityValues.minPrice - cityValues.avgPrice)/(cityValues.minPrice - cityValues.maxPrice) * 100 %}
    {% set you = (cityValues.minPrice - yourResult)/(cityValues.minPrice - cityValues.maxPrice) * 100 %}

    {% if you > 100 %}
        {% set you = 100 %}
    {% endif %}
    {% if you < 0 %}
        {% set you = 0 %}
    {% endif %}

    {% if average > 100 %}
        {% set average = 100 %}
    {% endif %}
    {% if average < 0 %}
        {% set average = 0 %}
    {% endif %}
    <div class="small-price-bar">
        <div class="min-price">
            <span> {{ cityValues.minPrice|number_format(2, ',', '') }}zł</span>
        </div>
        <div class="small-bar">
            <div class="average-bar"
                 style="width: {{ average }}%;"></div>
            <div class="your-bar"
                 style="width: {{ you }}%;"></div>
            <div class="your-result"
                 style="left: {{ you }}%"> {{ yourResult|number_format(2, ',', '') }}zł
            </div>
            <div class="average"
                 style="left: {{ average }}%;"> {{ cityValues.avgPrice|number_format(2, ',', '') }}zł
            </div>
        </div>
        <div class="max-price">
            <span>
                {{ cityValues.maxPrice|number_format(2, ',', '') }}zł
            </span>
        </div>
    </div>
    <br>
    {% set kwotaNaRok = ((flat.cost/flat.surface) / cityValues.minPrice) * flat.surface * 12  %}
    {% set kwotaNa10lat = ((flat.cost/flat.surface) / cityValues.minPrice) * flat.surface * 12 * 10 %}
    {% set kwotaNa30lat = ((flat.cost/flat.surface) / cityValues.minPrice) * flat.surface * 12 * 30 %}
    {% set wspolnotaKwotaNaRok = ((flat.cost/flat.surface) / cityValues.minPrice) * flat.surface * 12 / (udzial.value / 100) %}
    {% set wspolnotaKwotaNa10lat = ((flat.cost/flat.surface) / cityValues.minPrice) * flat.surface * 12 * 10 / (udzial.value / 100) %}
    {% set wspolnotaKwotaNa30lat = ((flat.cost/flat.surface) / cityValues.minPrice) * flat.surface * 12 * 30 / (udzial.value / 100) %}
    {% set procentNaRok = 1 - ( (flat.cost * 12 - kwotaNaRok)  / (flat.cost * 12) )|number_format(2, '.', '')  %}
    {% set sredniCzynszKwotaNaRok = ((flat.cost/flat.surface) / cityValues.avgPrice) * flat.surface * 12 %}
    {% set sredniCzynszProcentNaRok = 1 - ( (flat.cost * 12 - sredniCzynszKwotaNaRok)  / (flat.cost * 12) )|number_format(2, '.', '') %}
    <h2>Pórownanie do najtańszego czynszu</h2>
    <div class="comparison-text">
        {{ 'layout.reports.saving_info'|toWording|replace({
            '%kwota_na_rok%': kwotaNaRok|number_format(2, ',', ''),
            '%kwota_na_10lat%': kwotaNa10lat|number_format(2, ',', ''),
            '%kwota_na_30lat%': kwotaNa30lat|number_format(2, ',', ''),
            '%wspolnota_kwota_na_rok%': wspolnotaKwotaNaRok|number_format(2, ',', ''),
            '%wspolnota_kwota_na_10lat%': wspolnotaKwotaNa10lat|number_format(2, ',', ''),
            '%wspolnota_kwota_na_30lat%': wspolnotaKwotaNa30lat|number_format(2, ',', ''),
            '%procent_oszczednosci%': procentNaRok|number_format(2, ',', ''),
            '%sredni_czynsz_na_rok%': sredniCzynszKwotaNaRok|number_format(2, ',', ''),
            '%sredni_czynsz_procent%': sredniCzynszProcentNaRok
        })|raw }}
    </div>
    <p>
        Mogłbyś zaoszczędzić na rok: <strong>{{ kwotaNaRok|number_format(2, ',', '') }} zł ({{ procentNaRok }}%)</strong>
        <br>
        Mogłbyś zaoszczędzić na 10 lat: <strong>{{ kwotaNa10lat|number_format(2, ',', '') }} zł ({{ procentNaRok }}%)</strong>
        <br>
        Mogłbyś zaoszczędzić na 30 lat: <strong>{{ kwotaNa30lat|number_format(2, ',', '') }} zł ({{ procentNaRok }}%)</strong>
        <br>
        {#Wspólnota mogłaby zaoszczędzić na rok: <strong>{{ wspolnotaKwotaNaRok|number_format(2, ',', '') }} zł ({{ procentNaRok }}%)</strong>
        <br>
        Wspólnota mogłaby zaoszczędzić na 10 lat: <strong>{{ wspolnotaKwotaNa10lat|number_format(2, ',', '') }} zł ({{ procentNaRok }}%)</strong>
        <br>
        Wspólnota mogłaby zaoszczędzić na 30 lat: <strong>{{ wspolnotaKwotaNa30lat|number_format(2, ',', '') }} zł ({{ procentNaRok }}%)</strong>
#}
    </p>
    <h2>Pórownanie do średniego czynszu</h2>
    <p>
        Mogłbyś zaoszczędzić na rok: <strong>{{ sredniCzynszKwotaNaRok|number_format(2, ',', '') }} zł ({{ sredniCzynszProcentNaRok }}%)</strong>
        <br>
        Mogłbyś zaoszczędzić na 10 lat: <strong>{{ (((flat.cost/flat.surface) / cityValues.avgPrice) * flat.surface * 12 * 10)|number_format(2, ',', '') }} zł</strong>
        <br>
        Mogłbyś zaoszczędzić na 30 lat: <strong>{{ (((flat.cost/flat.surface) / cityValues.avgPrice) * flat.surface * 12 * 30)|number_format(2, ',', '') }} zł</strong>
        <br>
{#
        Wspólnota mogłaby zaoszczędzić na rok:
        <strong>{{ (((flat.cost/flat.surface) / cityValues.avgPrice) * flat.surface * 12 / (udzial.value / 100))|number_format(2, ',', '') }} zł</strong>
        <br>
        Wspólnota mogłaby zaoszczędzić na 10 lat:
        <strong>{{ (((flat.cost/flat.surface) / cityValues.avgPrice) * flat.surface * 12 * 10 / (udzial.value / 100))|number_format(2, ',', '') }} zł</strong>
        <br>
        Wspólnota mogłaby zaoszczędzić na 30 lat:
        <strong>{{ (((flat.cost/flat.surface) / cityValues.avgPrice) * flat.surface * 12 * 30 / (udzial.value / 100))|number_format(2, ',', '') }} zł</strong>
#}
    </p>
    {% set sum = 0 %}
    {% for billInfo in bill_list if (billInfo.type != 'empty space' and billInfo.slug != 'miejsce_postojowe_ilosc' or billInfo.slug != 'nazwa_wspolnota' and billInfo.slug != 'adres') %}
        {% for bill in bills %}
            <div style="margin-bottom: 10px;">
                {% if bill.billType == billInfo.slug %}
                    {% if billInfo.type == "rate" %}
                        <strong>{{ billInfo.title }}:</strong>
                        {% for star in range(1, bill.value) %}
                            <i class="fa fa-star" aria-hidden="true" style="color: #ffa027;"></i>
                        {% endfor %}
                        {% for star in range(bill.value + 1, 5) %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                        <br/>
                    {% elseif billInfo.type == "checkboxes" %}
                        <strong>{{ billInfo.title }}:</strong>
                        <br>
                        {% for option in bill.value|split(',') %}
                            <input type="checkbox" checked="checked" disabled="disabled"> {{ option|capitalize }}{% if not loop.last %},<br>{% endif %}
                        {% endfor %}
                        <br>
                    {% elseif billInfo.type == "text" %}
                        <strong>{{ billInfo.title }}:</strong> {{ bill.value }}
                        {% if billInfo.displayAverage and attribute(averageItemsMap, billInfo.slug) %}
                            <span style="margin-bottom: 20px; font-size: 12px;
                            background: #b0cc37; margin-left: 20px; position: relative; top: -3px; padding: 5px 10px;">
                            <strong>średnia: </strong> {{ attribute(averageItemsMap, billInfo.slug)|number_format(0) }}
                        </span>
                        {% endif %}
                        <br/>
                    {% elseif billInfo.type == "chart" %}
                        <h3>{{ billInfo.title }}</h3>
                        {% if
                            bill_price[loop.parent.loop.index0].minPrice == bill_price[loop.parent.loop.index0].maxPrice
                        %}
                            Brak danych <br><br>
                        {% else %}
                            <div class="small-price-bar">
                                {% set billValue = bill.value|number_format(2, '.', '') %}
                                <div class="min-price">
                                <span> {{ bill_price[loop.parent.loop.index0].minPrice|number_format(2, ',', '.') }}
                                    zł</span>
                                </div>

                                <div class="small-bar">
                                    <div class="average-bar"
                                         style="width:{{ (bill_price[loop.parent.loop.index0].avgPrice-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) }}%;"></div>
                                    <div class="your-bar"
                                         style="width:{{ (billValue-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) }}%;"></div>
                                    {% if (billValue-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) > 100 %}
                                        <div class="your-result"
                                             style="left:100%;"> {{ billValue|number_format(2, ',', '.') }}zł
                                        </div>
                                    {% elseif (billValue-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) <= 0 %}
                                        <div class="your-result"
                                             style="left:0;"> {{ billValue|number_format(2, ',', '.') }}zł
                                        </div>
                                    {% else %}
                                        <div class="your-result"
                                             style="left:{{ (billValue-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) }}%;"> {{ billValue|number_format(2, ',', '.') }}
                                            zł
                                        </div>
                                    {% endif %}

                                    {% if (bill_price[loop.parent.loop.index0].avgPrice-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) > 100 %}
                                        <div class="average"
                                             style="left:100%;"> {{ bill_price[loop.parent.loop.index0].avgPrice|number_format(2, ',', '.') }}zł
                                        </div>
                                    {% elseif (bill_price[loop.parent.loop.index0].avgPrice-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) <= 0 %}
                                        <div class="average"
                                             style="left:0;"> {{ bill_price[loop.parent.loop.index0].avgPrice|number_format(2, ',', '.') }}zł
                                        </div>
                                    {% else %}
                                        <div class="average"
                                             style="left:{{ (bill_price[loop.parent.loop.index0].avgPrice-bill_price[loop.parent.loop.index0].minPrice)*100/(bill_price[loop.parent.loop.index0].maxPrice-bill_price[loop.parent.loop.index0].minPrice) }}%;"> {{ bill_price[loop.parent.loop.index0].avgPrice|number_format(2, ',', '.') }}
                                            zł
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="max-price">
                                <span>
                                    {{ bill_price[loop.parent.loop.index0].maxPrice|number_format(2, ',', '.') }} zł
                                </span>
                                </div>
                            </div>
                            <br>
                            {% set sum = sum+billValue-bill_price[loop.parent.loop.index0].avgPrice %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <p>
        {{ 'layout.report.bottom_description'|toWording|raw }}
    </p>
    <p>
        {{ 'layout.report.legal_description'|toWording|raw }}
    </p>
</div>
</body>
</html>
