{% for bill in bills if (bill.groupName == group)%}
    <div class="col-md-6 col-xs-12" data-type="{{ bill.type }}">
        {% if bill.type == "rate" %}
            <label for="in1">{{ bill.title }}</label>
            <div class="input-wrapper" data-billId="{{ bill.slug }}">
                <div class="rateYo"></div>
                <input type="hidden" name="in1" placeholder="0"
                       pattern="[0-9]+([\.,][0-9]+)?" min="0">
            </div>
            {% elseif bill.type == "checkboxes" %}
            <label for="in1">{{ bill.title }}</label>
            <div class="input-wrapper wrapper-checkbox" data-billId="{{ bill.slug }}">
                {% for option in bill.options|split(',') %}
                    <div>
                        <input id="{{ bill.slug }}-op-{{ loop.index }}" type="checkbox" name="in1[]"
                               value="{{ option }}">
                        <label for="{{ bill.slug }}-op-{{ loop.index }}">{{ option|capitalize }}</label>
                    </div>
                {% endfor %}
            </div>
            {% elseif bill.type == "chart" %}
            <label for="in1">{{ bill.title }}{{ bill.fieldRequired ? ' <span class="req">*pole wymagane</span>' : '' }}</label>
                <div class="input-wrapper {% if bill.yearCost %}input-year-cost{% endif %}" data-billId="{{ bill.slug }}">
                    {% if bill.yearCost %}
                        <input type="number" id="temp__bill__{{ bill.slug }}" class="primary--field" placeholder="0" pattern="[0-9]+([\.,][0-9]+)?"
                           min="0" {{ bill.fieldRequired ? 'required' : '' }}>
                        <input class="secondary--field data--predictor" type="hidden" id="bill__{{ bill.slug }}" name="in1" placeholder="0" pattern="[0-9]+([\.,][0-9]+)?"
                               min="0" {{ bill.fieldRequired ? 'required' : '' }}>
                    {% else %}
                        <input type="number" id="bill__{{ bill.slug }}" class="data--predictor" name="in1" placeholder="0" pattern="[0-9]+([\.,][0-9]+)?"
                               min="0" {{ bill.fieldRequired ? 'required' : '' }}>
                    {% endif %}
                <span class="info">?</span>
                <div class="tooltip">
                    <div class="content">{{ bill.tooltip }}</div>
                </div>
                <div class="small-price-bar">
                    <div class="min-price">
                        <span> 1,00 zł</span>
                    </div>
                    <div class="small-bar">
                        <div class="average-bar"></div>
                        <div class="your-bar"></div>
                        <div class="your-result" data-result="0"> 6,20zł</div>
                        <div class="average"> 4,50zł</div>
                    </div>
                    <div class="max-price">
                        <span> 8,00 zł</span>
                    </div>
                </div>
            </div>
            {% elseif bill.type == "text" %}
            <label for="in1">{{ bill.title }}{{ bill.fieldRequired ? ' <span class="req">*pole wymagane</span>' : '' }}</label>
            <div class="input-wrapper" data-billId="{{ bill.slug }}">
                <input id="bill__{{ bill.slug }}" type="text" name="in1" placeholder=""
                        {{ bill.fieldRequired ? 'required' : '' }}>
                <span class="info">?</span>
                <div class="tooltip">
                    <div class="content">{{ bill.tooltip }}</div>
                </div>
            </div>
        {% if bill.autocomplete %}
            <script type="text/javascript">
                $('input#bill__{{ bill.slug }}').autoComplete({
                    minChars: 2,
                    source: function(term, suggest){
                        term = term.toLowerCase();
                        let foundTag = [];
                        window.AVAILABLE_TAGS.forEach(function(tag) {
                            if (tag.slug == "{{ bill.slug }}") {
                                foundTag = tag.auto_complete_options;
                            }
                        });

                        let matches = [];
                        let choices = Object.keys(foundTag).map(function(key) {
                            return foundTag[key];
                        });
                        for (i=0; i<choices.length; i++) {
                            if (~choices[i].toLowerCase().indexOf(term)) {
                                matches.push(choices[i]);
                            }
                        }

                        suggest(matches);
                    }
                });
            </script>
        {% endif %}
        {% else %}
            <div class="input-wrapper empty">
            </div>
        {% endif %}
    </div>
{% endfor %}